<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%= file %>"><%= file %></a>
      <a href="<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></a>

<%if session[:username] %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as: <%= session[:username] %></p>
      <button type="submit">Sign out</button>
    </p>
  </form>
<% else %>
   <form class="user-stats" action="/users/signin" method="get">
    <button type="submit">Sign In</button>
  </form>
<% end %>